.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  grid-column: span 4;
  display: grid;
  grid-template-rows: 100px 1fr;
}

.task-display {
  display: flex;
  flex-direction: column;
  position: relative;
  /* Inroduce scroll bar
  height: 596px;
  overflow-y: auto; */
}

.wrapper > form {
  background-color: aqua;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

.create-form-btn {
  position: absolute;
  right: 0px;
  align-self: end;
}

.empty-indicator {
  position: absolute;
  bottom: 50%;
  align-self: center;
}

.task {
  width: 100%;
  height: 50px;
  display: flex;
  gap: 10px;
}

.full-task {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 50px 3fr 1fr;
  justify-items: center;
  /* align-items: center; */
}

.back-btn {
  grid-column: 1 / 2;
  align-self: center;
}

.full-task > h2,
.full-task > div {
  grid-column: 2 / 3;
}

.task > div {
  display: flex;
}

.task > div:nth-child(2) {
  flex-direction: column;
}

.task > div:nth-child(3) {
  margin-left: auto;
}
