* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-size: 1rem;
  /* background-color: #ecf0f2; */
}

.content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 4fr 100px;
}

.header {
  grid-row: 1 / 2;
  background-color: #ecf0f2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-section {
  grid-row: 2 / 3;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.footer {
  grid-row: 3 / 4;
  padding: 10px;
}

.task-header {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.menu-button {
  border: none;
  display: grid;
  align-items: center;
}

.header > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.header img {
  height: 35px;
  width: 40px;
}

.menu-button:hover {
  background-color: grey;
}

.display-btn-container img,
.del-btn-container img,
.create-list-btn img,
.add-project-btn img,
.back-btn img {
  pointer-events: none;
}
