@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  background-color: #bccbea;
  color: #050203;
}

.content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(240px, 1fr) minmax(600px, 5fr);
  grid-template-rows: 60px minmax(650px, 4fr) 60px;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-section {
  background-color: #f6f8fc;
  border-radius: 20px;
  margin: 10px 20px;
  grid-column-end: span 3;
  grid-row: 2 / 3;
}

.footer {
  padding: 10px;
  grid-column-end: span 3;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #050203;
}

.task-header {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.menu-btn,
.view-lists-btn {
  border: none;
  background-color: #bccbea;
  display: grid;
  align-items: center;
}

.header > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.header img {
  height: 35px;
  width: 40px;
}

.menu-btn:hover,
.view-lists-btn:hover {
  background-color: #dee0e0;
}

.display-btn-container img,
.del-btn-container img,
.create-list-btn img,
.add-project-btn img,
.back-btn img,
.remove-project-btn img {
  pointer-events: none;
}
