.main-menu {
  grid-row: 2 / 4;
  margin-top: 10px;
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: center;
}

.main-menu button {
  background-color: #bccbea;
  border: none;
  padding: 2px 10px;
  justify-self: flex-start;
  align-self: center;
  text-align: start;
}

.main-menu .add-project-btn {
  padding: 0px;
}

.today-container,
.upcoming-container {
  padding: 5px 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 35px 3fr 35px;
  column-gap: 5px;
}

.fav-container,
.proj-container {
  display: grid;
  grid-template-columns: 35px 3fr 35px;
}

.fav-container > div:nth-child(1),
.proj-container > div:nth-child(1) {
  padding: 5px 10px;
  border-radius: 5px;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 35px 3fr 35px;
  column-gap: 5px;
}

.favorites,
.projects {
  grid-column: 2 / 4;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.favorites > div,
.projects > div {
  padding: 5px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 20px 3fr 1fr;
  align-items: center;
}

.favorites > div > img,
.projects > div > img {
  height: 15px;
  width: 15px;
}

.today-container > img,
.upcoming-container > img,
.fav-container img,
.proj-container img {
  height: 30px;
  width: 30px;
}

.add-project-btn {
  height: 30px;
  width: 30px;
  justify-self: end;
}

[class*="count"] {
  text-align: end;
}

.today-container:hover,
.upcoming-container:hover,
.fav-wrapper:hover,
.proj-wrapper:hover {
  background-color: #77c4fe;
}

.today-container:hover .today-btn,
.upcoming-container:hover .upcoming-btn,
.fav-wrapper:hover .favorites-btn,
.proj-wrapper:hover .projects-btn,
.proj-wrapper:hover .add-project-btn {
  background-color: #77c4fe;
}

.favorites > div:hover,
.projects > div:hover,
.favorites > div:hover button,
.projects > div:hover button {
  background-color: #77c4fe;
}

.main-menu button:hover {
  font-weight: 600;
}
